/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


*/

/*! normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */

[hidden] {
    display: none;
}


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */

html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */

body {
    margin: 0;
}


/* =============================================================================
   Links
   ========================================================================== */

/*
 * Addresses outline displayed oddly in Chrome
 */

a:focus {
    outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */

a:hover,
a:active {
    outline: 0;
}


/* =============================================================================
   Typography
   ========================================================================== */

/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.4em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/

b,
strong {
    font-weight: bold;
}

blockquote {
    margin: 1em;
    padding: 0 30px;
    border-left: 8px solid lightblue;
}

/*
 * Addresses styling not present in S5, Chrome
 */

dfn {
    font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */

mark {
    background: #ff0;
    color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */

p,
pre {
    margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */

pre,
code,
kbd,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */

/* 1 */

q {
    quotes: none;
}

/* 2 */

q:before,
q:after {
    content: '';
    content: none;
}

small {
    font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}


/* =============================================================================
   Lists
   ========================================================================== */

/*
 * Addresses margins set differently in IE6/7
 */

dl,
menu,
ol,
ul {
    margin: 1em 0;
}

dd {
    margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7
 */

menu,
ol,
ul {
    padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7
 */

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */

figure {
    margin: 0;
}


/* =============================================================================
   Forms
   ========================================================================== */

/*
 * Corrects margin displayed oddly in IE6/7
 */

form {
    margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */

button,
input {
    line-height: normal; /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer; /* 1 */
    -webkit-appearance: button; /* 2 */
    *overflow: visible;  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */

button[disabled],
input[disabled] {
    cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}


/* =============================================================================
   Tables
   ========================================================================== */

/*
 * Remove most spacing between table cells
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* line 1, ../../app/assets/stylesheets/posts.css.scss */
aside {
  position: relative;
  display: block;
}

/* line 2, ../../app/assets/stylesheets/posts.css.scss */
ul {
  list-style-type: none;
}

/* line 3, ../../app/assets/stylesheets/posts.css.scss */
.hide {
  visibility: hidden;
  height: 1px;
  clip: rect(0 0 0 0);
  position: absolute;
}

/* line 4, ../../app/assets/stylesheets/posts.css.scss */
input, textarea {
  outline: none;
}

/* line 6, ../../app/assets/stylesheets/posts.css.scss */
body {
  background: #fff;
  color: #222;
}

/* line 11, ../../app/assets/stylesheets/posts.css.scss */
body, textarea, input {
  font-family: 'Lato', Helvetica, sans-serif;
  line-height: 1.8em;
  font-size: 16px;
  font-weight: 400;
}

/* line 18, ../../app/assets/stylesheets/posts.css.scss */
h1, h2, h3, h4, h5 {
  font-weight: 900;
}

/* line 22, ../../app/assets/stylesheets/posts.css.scss */
p {
  color: #555;
}

/* line 28, ../../app/assets/stylesheets/posts.css.scss */
a,
a:visited
a:active {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
}

a#book {
  border: none;
}

a#book img {
  border: 1px solid #ddd;
}

/* line 34, ../../app/assets/stylesheets/posts.css.scss */
a:hover {
  color: red;
}

/* line 38, ../../app/assets/stylesheets/posts.css.scss */
header#sidebar {
  width: 159px;
  border-right: 1px solid #DDD;
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 20px 40px;
}

/* line 47, ../../app/assets/stylesheets/posts.css.scss */
header span {
  color: #888;
  font-weight: 500;
}

/* line 52, ../../app/assets/stylesheets/posts.css.scss */
header span.powered-by {
  position: absolute;
  bottom: 20px;
  font-size: 11px;
}

/* line 58, ../../app/assets/stylesheets/posts.css.scss */
header ul {
  padding: 0;
  margin: 50px 0;
}

/* line 63, ../../app/assets/stylesheets/posts.css.scss */
header li {
  margin: 0 0 12px 0;
}

/* line 67, ../../app/assets/stylesheets/posts.css.scss */
header li a {
  padding: 8px 0;
  color: #888;
  border-bottom: 2px solid #eee;
}

/* line 73, ../../app/assets/stylesheets/posts.css.scss */
header li a:hover {
  border-color: #777;
  color: #444;
}

/* line 78, ../../app/assets/stylesheets/posts.css.scss */
#container {
  margin-left: 240px;
  position: relative;
}

/* line 83, ../../app/assets/stylesheets/posts.css.scss */
#container header {
  display: block;
  padding: 40px 0 40px 50px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 12px;
  background: #eee;
}

/* line 95, ../../app/assets/stylesheets/posts.css.scss */
#content section {
  padding: 38px 0 40px 50px;
  border-bottom: 1px solid #ddd;
  position: relative;
}

/* line 101, ../../app/assets/stylesheets/posts.css.scss */
.show #content section {
  border-bottom: none;
}

/* line 105, ../../app/assets/stylesheets/posts.css.scss */
code {
  font-size: 13px;
  background: #F2F2F2;
  padding: 20px;
  margin: 20px;
  display: block;
}

/* line 113, ../../app/assets/stylesheets/posts.css.scss */
h1.aside {
  font-size: 18px;
}

/* line 118, ../../app/assets/stylesheets/posts.css.scss */
.contain,
#new_post, .edit_post {
  width: 580px;
}

/* line 122, ../../app/assets/stylesheets/posts.css.scss */
.contain img {
  max-width: 100%;
  height: auto;
}

/* line 127, ../../app/assets/stylesheets/posts.css.scss */
#new_post, .edit_post {
  padding: 40px 0;
  margin: 0 auto;
}

/* line 132, ../../app/assets/stylesheets/posts.css.scss */
fieldset.markdown {
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
}

/* line 139, ../../app/assets/stylesheets/posts.css.scss */
.markdown::before {
  display: block;
  content: "";
  width: 39px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: -60px;
  background: url(/assets/markdown.png) no-repeat top left;
}

/* line 150, ../../app/assets/stylesheets/posts.css.scss */
#post_title {
  width: 100%;
  border: none;
  background: none;
  font-size: 35px;
  line-height: 45px;
  font-weight: 900;
  margin: 0 0 20px 0;
}

/* line 160, ../../app/assets/stylesheets/posts.css.scss */
#post_content {
  border: none;
  width: 100%;
  position: relative;
}

/* line 166, ../../app/assets/stylesheets/posts.css.scss */
#publish-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #222;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

/* line 177, ../../app/assets/stylesheets/posts.css.scss */
#publish-bar .contain {
  margin: 0 auto;
}

/* line 184, ../../app/assets/stylesheets/posts.css.scss */
#publish-bar input[type=submit],
#publish-bar a,
#drafts h1 a,
.button {
  display: inline-block;
  background: #000;
  padding: 10px;
  font-weight: bold;
  border: none;
  color: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* line 199, ../../app/assets/stylesheets/posts.css.scss */
#publish-bar input[type=submit]:hover,
#publish-bar a:hover,
#drafts h1 a:hover,
.button:hover {
  background: red;
  color: #fff;
}

/* line 204, ../../app/assets/stylesheets/posts.css.scss */
.button.space-top {
  margin-top: 100px;
}

/* line 208, ../../app/assets/stylesheets/posts.css.scss */
.left {
  float: left;
}

/* line 212, ../../app/assets/stylesheets/posts.css.scss */
.right {
  float: right;
}

/* line 216, ../../app/assets/stylesheets/posts.css.scss */
.actions {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

/* line 225, ../../app/assets/stylesheets/posts.css.scss */
.actions li {
  display: inline-block;
  margin: 0 10px 0 0;
}

/* line 230, ../../app/assets/stylesheets/posts.css.scss */
label {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  margin: 0 4px 0 15px;
}

/* line 237, ../../app/assets/stylesheets/posts.css.scss */
#post_draft {
  position: relative;
  margin: 0 20px 0 0;
}

/* line 242, ../../app/assets/stylesheets/posts.css.scss */
.admin-new {
  position: absolute;
  top: 28px;
  right: 30px;
}

/* line 248, ../../app/assets/stylesheets/posts.css.scss */
.notice {
  background: lightYellow;
  width: 100%;
  display: block;
  text-align: center;
  padding: 6px 0;
}

/* line 256, ../../app/assets/stylesheets/posts.css.scss */
#admin {
  width: 808px;
  margin: 0 auto;
}

/* line 261, ../../app/assets/stylesheets/posts.css.scss */
#admin #drafts {
  float: left;
  border: 4px solid #000;
  border-top: none;
}

/* line 267, ../../app/assets/stylesheets/posts.css.scss */
#drafts form {
  margin: 20px 0 20px -20px;
  padding: 0 0 0 20px;
  border-left: 4px solid lightblue;
}

/* line 273, ../../app/assets/stylesheets/posts.css.scss */
#drafts #post_title {
  width: 350px;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  border-bottom: 1px solid #ddd;
}

/* line 281, ../../app/assets/stylesheets/posts.css.scss */
#drafts h1 {
  position: relative;
}

/* line 285, ../../app/assets/stylesheets/posts.css.scss */
#drafts h1 a {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  padding: 2px 10px;
}

/* line 293, ../../app/assets/stylesheets/posts.css.scss */
#admin #published {
  float: right;
}

/* line 297, ../../app/assets/stylesheets/posts.css.scss */
#published h2 {
  color: #ccc;
}

/* line 301, ../../app/assets/stylesheets/posts.css.scss */
.col {
  width: 360px;
  padding: 20px;
}

/* line 307, ../../app/assets/stylesheets/posts.css.scss */
.col h1,
.col h2 {
  text-transform: uppercase;
}

/* line 311, ../../app/assets/stylesheets/posts.css.scss */
.col ul {
  padding: 0;
}

/* line 315, ../../app/assets/stylesheets/posts.css.scss */
.col ul li {
  border-bottom: 1px solid #ddd;
  padding: 15px 20px;
}

/* line 320, ../../app/assets/stylesheets/posts.css.scss */
.col ul li h3 {
  margin: 0;
  font-size: 16px;
}

/* line 325, ../../app/assets/stylesheets/posts.css.scss */
.col ul li h3 a {
  border: none;
}

/* line 329, ../../app/assets/stylesheets/posts.css.scss */
.delete {
  float: right;
  color: #ccc;
  font-weight: normal;
}

#content .archive_link {
  float:right;
  margin:20px 40px;
}
